#map {
    height: 100vh;
}

#map-container {
    position: relative
}

#storage-container {
    position:absolute;
    top: 8.5px;
    height:60px;
    width: 540px;
    background-color: rgba(230, 194, 36, 0.9);
    z-index: 314158;
    padding-top: 2px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

#search-container {
    position: absolute;
    z-index: 314159;
    top: 18px;
    left: 15px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 2px;
    padding-left: 12px;
    border-radius: 15px;
    /* box-shadow: 0 0 20px 4px lightsteelblue; */
    width: 285px
}

#layer-container {
    position: absolute;
    z-index: 314159;
    top: 20px;
    left: 320px;
}

#search-txt {
    line-height: 30px;
    outline: none;
    border:none;
    background-color: transparent;
}

/* input:focus{
    outline-style: none;
    box-shadow: none
} */

#search-btn {
    height: 35px;
    width: 30px;
    border: transparent;
    background-color: transparent;
    font-size:13px;
}

#search-btn, #clear-btn {
    height: 35px;
    width: 30px;
    border: transparent;
    background-color: transparent;
    font-size:13px;
}

/* #clear-btn{
    display: none;
} */

.fa-magnifying-glass, .fa-x {
    color: grey;
}

#results {
    overflow-y: scroll;
    max-height:400px
}

#card-results {
    overflow-y: scroll;
    max-height:800px
    
}

.card {
    background-color: rgba(255, 255, 255, 0.7)
}

.card-title {
    font-size: 15px;
}

.card-text {
    font-size: 12px;
}

.search-result {
    margin: 10px;
}

#escapeRoomCheckbox, #bowlingAlleyCheckbox, #gamingCafeCheckbox, #movieTheaterCheckbox, #museumCheckbox{
    display: none;
}

/* move zoom and self locate controls to the left */
.leaflet-control-container { 
    position: absolute; right: 56px 
} 